:root{
    --bgcolor: rgb(231, 231, 149);
    --busitemcolor: rgb(225, 207, 207);
    --border5: solid 5px black;
    --border2: solid 2px black;
}

html::-webkit-scrollbar{
    width: 0.69vw;
}

html::-webkit-scrollbar-thumb{
    background-color: var(--busitemcolor);
    border:none;
    border-radius: 1vw;
    overflow: hidden;
    padding: 0.1vw;
}

html::-webkit-scrollbar-track{
    background-color: var(--bgcolor);
    border:none;
    border-radius: 2vw;
    overflow: hidden;
    padding: 0.1vw;
}

html::-webkit-scrollbar-track:hover{
    background-color: (117, 113, 113, 0.374);
}

html::-webkit-scrollbar-thumb:hover{
    background-color: rgba(255, 255, 255, 10);
}