@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root{
    --bgcolor: rgb(231, 231, 149);
    --busitemcolor: rgb(225, 207, 207);
    --border5: solid 5px black;
    --border2: solid 2px black;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--bgcolor);
    font-family: 'Lato', sans-serif;
}

.open-nav{
    position: absolute;
    top: 47%;
    box-shadow: 0 10px 24px 0px rgba(226, 137, 137, 0.884);
    padding: 10px;
    background-color: rgba(249, 227, 79, 0.662);
    cursor: pointer;
    transition: transform 0.3s;
}

.open-nav:hover{
    transform: scale(1.05);
    transition:transform 0.3s;
}

.navbar{
    width: 50px;
    height: 100%;
    border-bottom: var(--border2);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    padding: 0;
    opacity: 0.0;
    margin-left: 25px;
}

.animation-nav{
    animation: show-nav 0.3s ease-in-out;
}

@keyframes show-nav{
    0% {display: flex;}
    50% {margin-left: -100px;}
    100% {margin-left: 25px;}
}

.nav-item{
    margin-left: 50px;
    border-left: var(--border2);
    border-right: var(--border2);
    padding: 15px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
    background-color: rgba(238, 149, 125, 0.658);
}

.nav-item:hover{
    transform: scale(1.01);
    background-color: wheat;
    transition: transform 0.3s,  background-color 0.3s;
}

#buy-bus{
    position: absolute;
    top: 10%;
    left: 17%;
    background-color: white;
    width: 70vw;
    height: 500px;
    border: var(--border5);
    border-radius: 20px;
    display: none;
}

#closebusgui{
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
}

.bus-item{
    background-color: var(--busitemcolor);
    border: var(--border5);
    width: 100px;
    height: 200px;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 50px;
    text-align: center;
    padding-top: 50px;
    transition: background-color 0.3s, transform 0.3s;
}

.bus-item:hover{
    transform: scale(1.05);
    background-color: wheat;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
}

#vars{
    width: 25%;
    border-right: var(--border5);
    height: 650px;
}

.vars-item{
    font-size: 2.25vw;
    background-color: white;
    padding: 10px;
    padding-top: 5px;
    border: solid 2px black;
    width: 85%;
    height: 7.5%;
    margin-top: 40px;
    border-radius: 10px;
    margin-left: 10px;
    text-align: center;
}

#main{
    display: flex;
    flex-direction: row;
}

#cliker{
    background-color: white;
    border: var(--border5);
    width: 25%;
    height: 400px;
    margin-top: 120px;
    margin-left: 50px;
    border-radius: 1000px;
}


#here-click{
    position: absolute;
    top: 2.5%;
    left: 28%;
    text-align: center;
    font-size: 3vw;
}

#busimgs{
    border-left: var(--border5);
    height: 650px;
    width: 50%;
    margin-left: 40px;
    overflow: auto;
}

#ver{
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: rgb(99, 96, 96);
}

.buslist{
    margin-left:0.5vw;
    margin-top: 0.5vw;
    background-color: var(--busitemcolor);
    height: 120px;
    width: 85%;
    padding: 10px;
    border: var(--border5);
    border-radius: 10px;
}

#bus-cnt{
    width: 75%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: space-evenly;
}

#changelog{
    position:absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 35%;
    background-color: white;
    border: var(--border5);
    border-radius: 10px;
    overflow: auto;
    display: none;
}

.changelog-item{
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

.categ{
    width: 100px;
    height: 60px;
    border: var(--border5);
    border-radius: 10px;
    background-color: var(--busitemcolor);
    transition: background-color 0.3s, transform 0.3s;
    text-align: center;
    padding: 0;
}

.categ:hover{
    background-color: wheat;
    transform: scale(1.05);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

#categs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 75%;
    margin-top: 20px;
    box-shadow: -10px 10px 5px 0px 100px rgb(0,0,0);
}

#busguicont{
    display: flex;
    flex-direction: column;
}

#trolley-cnt{
    width: 75%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: space-evenly;
    display: none;
}

#tram-cnt{
    width: 75%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: space-evenly;
    display: none;
}
